*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
androidEditors.xml
androidStudioFirstRun.xml
colors.scheme.xml
debugger.renderers.xml
debugger.xml
diff.xml
editor.codeinsight.xml
editor.xml
github_settings.xml
gradle.run.settings.xml
ide.general.xml
IntelliLang.xml
jdk.table.xml
other.xml
project.default.xml
ui.lnf.xml
vcs.xml
web-browsers.xml